image
CreateFile.png
GitInit.png
load.png
NewFile.png
NewFolder.png
.gitignore
GitStatus.png
NewStatus.png
save.png
FirstCommit.png
SecondCommit.png
GitLog.png
FirstCheckout.png
gitDiff.png
gitBranch.png
newBranch.png
branch.png
checkoutNewbranch.png
lognew.png
listcommit.png
FastForward.png
Choose.png
InfoConflict.png
Conflict.png
New-Mas.png
Delete.png
ChangeReadme.png
Clone.png
CreateCommit.png
fork.png
Githubstart.png
linkrepo.png
listrepo.png
newrepo.png
pull.png
pullrequest.png
push.png
remove.png
remove1.png
remove2.png
remove3.png
repodir.png
seepush.png